<div class="ui two column grid">
  <div class="ui small feed">
   <h4 class="ui header">Follwers</h4>
    <div class="content">
     <div class="ui feed">
     <% @message.each do |message| %>
      <div class="event">
       <div class="content">
        <div class="summary">
       <em><%= message.userid.username %></em>: <%= message.body %>
     </div>
    </div> 
   </div>
  <%end%>
 </div>
</div>
<div class="event">
  <div class="content">
    <div class="summary">
       <a>Hari</a> added <a>Nagi</a> as a friend
    </div>
  </div>
</div>
<div class="event">
  <div class="content">
    <div class="summary">
       <a>Anil</a> added <a>Giri</a> as a friend
    </div>
  </div>
</div>
<div class="event">
  <div class="content">
    <div class="summary">
       <a>This is Luci</a> signed up for the  site.
    </div>
  </div>
</div>
</div><div class="ui inverted vertical menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>
</div>